# Git
.git
.gitignore
.gitkeep

# Python Cache & Build Artifacts (ขยะจากการรัน)
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
wheels
*.egg-info
.installed.cfg
*.egg

# Virtual Environments (ไม่เอา venv ที่เราสร้างในเครื่องเข้าไป)
.venv
venv
ENV
env

# Environment Variables (สำคัญมาก ห้ามเอาเข้าไป! ควรกำหนดตอน docker run)
.env

# IDE Settings (VS Code, Pycharm)
.vscode
.idea

# OS specific files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
.dockerignore


# Model files
model/yolo/*
*.jpeg
*.pt

debug_cropped_plate.jpg
debug_preprocessed.jpg

