# run command:
# uv run uvicorn app.main:app --reload

# api config
API_VERSION=/api/v1
APP_NAME=LPR FastAPI
APP_ENV=development

# mongo config
MONGO_URL=
MONGO_DB_NAME=

# DigitalOcean Spaces credentials and configuration
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_REGION=
DO_SPACES_ENDPOINT=
DO_SPACES_BUCKET=
ORI_IMG_LOG_PATH_PREFIX=ocr-services/subId/original
PRO_IMG_LOG_PATH_PREFIX=ocr-services/subId/process

ISSUE_LOG_PATH_PREFIX=ocr-services/subId/issue_images/process

# Model
MODEL=yolo
YOLO_PLATE_CONF=0.5
YOLO_OCR_CONF=0.7
YOLO_IMGSZ=640
PLATE_MODEL_NAME=
OCR_MODEL_NAME=

# Path in Container
# docker compose connect real path with cotainer path
PLATE_MODEL_PATH=./model/yolo/your_model.pt
OCR_MODEL_PATH=./model/yolo/your_model.pt

# session
SESSION_TIMEOUT_MINUTES=1440
JOB_CHECK_SESSION_INTERVAL=60

# Camera
HIK_CAMERA_USER=
HIK_CAMERA_PASSWORD=
MIN_DURATION_SEC=60
T_CONFLICT_SEC=60
T_CLOSE_SEC=60
cooldown_sec=3
alarm_cooldown_sec=3


