services:
  lpr-api:
    image: lpr-fastapi:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./model:/app/model:ro
    restart: unless-stopped
